/packages
/artifacts
/Release
/build
/JavaApp/.gradle
/JavaApp/build
/JavaApp/local_out
/Natives/AngelAuraAmethyst
/Natives/build
/Natives/external/UnzipKit
.DS_Store
xcshareddata/
xcuserdata/
project.xcworkspace/
/depends
/SharedDependencies
/Natives/config.h
/Natives/CurseForgeSecrets.local.h
*.mobiledevicepairing
*.mobileprovision
*.p12
entitlements.codesign.xml
